<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


      <form th:action="@{/params/variables}" method="GET">


        <div>

          <label>Ingrese su saludo</label>
          <input type="text" name="saludo">

        </div>

        <div>
          
            <label>Ingrese su texto: </label>
            <input type="text" name="texto">

        </div>

        <div>

          <input type="submit" value="Enviar Formulario">

        </div>


      </form>
    
</body>
</html>