<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <h1 th:text="${titulo}"></h1>
    
     <table>
        
        <thead>

           <tr>

             <th>Nombre</th>
            <th>Usuario</th>
            <th>Email</th>


           </tr>


        </thead>

        <tbody>

         <tr th:each="usu : ${usuarios}">

            <td th:text="${usu.nombre}"></td>
            <td th:text=${usu.apellido}></td>
            <td th:text="${usu.email}"></td> 

         </tr>  
        

        </tbody>


     </table>
    
</body>
</html>